{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}category{% endblock %}
{% block content %}

<h1>{{ cat.name }}</h1>

{% for doc in docs %}
  <h2>{{ doc.title }}</h2>
  {% with doc.patches as patches %}
    {% if patches %}
      <h3>{{ patches|length }} innkom{{ patches|length|pluralize:"e,ne" }} endringsframlegg</h3>
      {% for patch in patches %}
        {% include "framlegg/patch_list_part.html" %}
      {% endfor %}
    {% else %}
      <h3>Ingen innkomne endringsframlegg</h3>
    {% endif %}
  {% endwith %}

  <div class="iheilskap">
    <p>
    {% if not doc_as_cat or forloop.last %}
      Dokumentet i heilskap: {{ doc.get_nemnd_accepted_display }}
    {% endif %}
  </div>
{% endfor %}


{% endblock %}
