{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}document{% endblock %}

{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="/web/syntaxhighligther/scripts/shCore.js"></script>
	<link type="text/css" rel="stylesheet" href="/web/syntaxhighligther/styles/shCore.css"/>
	<script type="text/javascript" src="/web/syntaxhighligther/scripts/shBrushPlain.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
{% endblock %}

{% block content %}

<ul class="handlingar">
	<li><a href="#endringsframlegg">Levér endringsframlegg</a>
</ul>

<h1>{{ doc.title }}</h1>

{% if not doc.text %}
<p>Dette dokumentet, med linenummer, skal du kunna finna i sakpapirene dine.</p>
{% else %}
<pre class="brush: plain;">
{{ doc.text }}
</pre>
{% endif %}

<h2 id="endringsframlegg">Kom med eit framlegg til endring</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ doc.get_absolute_url }}#endringsframlegg" method="post" class="form">
{#% csrf_token %#}
    <p>Ikkje skriv inn meir enn <em>ei logisk endring</em> for kvar gong, slik at det vert
    enkelt å stemma for forslaga kvar for seg.</p>
<ul class="realform">
{{ form.as_ul }}
</ul>

<input type="submit" value="Send inn endringsframlegg">
</form>

{% if doc.patches %}
<h2 id="framlegg">{{ doc.patches|length }} innkom{{ doc.patches|length|pluralize:"e,ne" }} endringsframlegg</h2>
{% for patch in doc.patches %}
  {% include "framlegg/patch_list_part.html" %}
{% endfor %}
{% else %}
<h2 id="framlegg">Ingen innkomne endringsframlegg</h2>
{% endif %}

{% endblock %}
