{% extends "base.html" %}

{% block content %}

<h2>Endringsframlegg til {{ doc.title }}</h2>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url framlegg.views.doc_edit doc.pk %}" method="post" class="form">
{#% csrf_token %#}
    <p>Ikkje skriv inn meir enn <em>ei logisk endring</em> for kvar gong, slik at det vert
    enkelt å stemma for forslaga kvar for seg.</p>
<ul class="realform">
{{ form.as_ul }}
</ul>

<input type="submit" value="Send inn endringsframlegg">
</form>

{% endblock %}
