<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Landsmøtesystem, Nei til EU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/web/bilete/neitileu-logo-16.png">
    {% block extrahead %}{% endblock %}

    <style type="text/css" media="all">
@import "/web/style.css";
    </style>
    <style type="text/css" media="print">
#head { display: none; }
#nav { display: none; }
#ekstra { display: none; }
#footer { display: none; }

.nav { display: none; }

table, th, td { border-width: 1pt; }
    </style>

    <script type="text/javascript">
    </script>

  </head>

  <body class="{% block bodyclass %}standard{% endblock %}">
<div id="kontainer">

<div id="head">
  <h1><a href="/"><img src="/web/bilete/neitileu-logo-150.png" alt="Nei til EU"></a> <em>Landsmøte</em></h1>
</div>

<!--<div id="ekstra">
</div>
-->
<div id="nav">
<a href="/">Dokument-liste</a> |
<a href="/framlegg/">Avansert dokument-liste</a> |
<a href="/framlegg/doc/new/">Ny uttalelse</a>
</div>


<div id="content">
	{% block content %}{% endblock %}
</div>

<div id="footer"><p>Landsmøtesystem skrive av <a href="http://velmont.no">Odin Hørthe</a>, for <a href="http://neitileu.no">Nei til EU</a></p></div>

</div>

</body>
</html>
