{% extends "base.html" %}
{% load truncatesmart %}

{% block bodyclass %}heim{% endblock %}

{% block content %}
<p>Trykk på dokumentet so får du høve til å levera endringsframlegg.

{% for c in object_list %}
    <h3>{{ c.name }}</h3>
    <table>
    <colgroup class="tdokument">
    <colgroup class="tstillar">
    <colgroup class="tframlegg">
    <colgroup class="tdato">
    <thead>
        <tr><th>Dokument <th>Frå kven? <th>Framlegg <th>Dato
    <tbody>
    {% for doc in c.document_set.all %}
      <tr>
        <td><a href="{{ doc.get_absolute_url }}#endringsframlegg">{{ doc.title|truncatesmart:37 }}</a>
        <td>{{ doc.backed_by|truncatesmart:45 }}
        <td>{{ doc.num_patches }}
        <td>{{ doc.created|date:"Y-m-d" }}
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}
